{% extends 'content/staff-base2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- PAGE-HEADER -->
<div class="page-header">
   
</div>
<!-- PAGE-HEADER END -->

<div class="row justify-content-center">
    <div class="col-xl-8 ">
        <div class="card">
            {% if post.image_1 %}
            <img class="d-block w-100 br-5" alt="" src="/media/{{ post.image_1 }}" data-bs-holder-rendered="true">
            {% else %}
            <img class="d-block w-100 br-5" alt="" src="http://127.0.0.1:8000/media/post-media/upload-image-default.jpg" data-bs-holder-rendered="true">
            {% endif %}
            <div class="card-body"> 
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ revision_form|crispy }}
                        {{ form|crispy }}
                        
                        <div class="card-footer text-end">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Submit Post </button>    
                        </div>
                    </form>
            
                </div>
        </div>
        
        
    </div>
    
{% endblock content %}